@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Raleway";
	user-select: none;
}

body{
	background-image: url("bg.png");
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 340px;
	height: 700px;
	background-color: #fff;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
}

.menu-image{
	width: 100%;
	height: 40%;
	overflow: hidden;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.menu-image img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	scale: 1.5;
	transition: 0.25s;
}

.menu-image img:hover{
	scale: 1.9;
}

.image-filter-seperator{
	width: 400px;
	height: 70px;
	background-color: #fff;
	position: absolute;
	top: 240px;
	transform: rotate(-6deg);
}

.filter-button{
	font-size: 1.3rem;
	padding: 0.6em;
	border-radius: 50%;
	background-color: #EB3743;
	border: none;
	cursor: pointer;
	color: #fff;
	position: absolute;
	top: 250px;
	left: 270px;
	transition: 0.2s;
}

.filter-button:hover{
	opacity: 0.84;
}

.filter-menu{
	width: 200px;
	height: 200px;
	background-color: #e9616ab4;
	border-radius: 50%;
	position: absolute;
	top: 176px;
	left: 190px;
	transform-origin: center;
	transition: 0.15s ease-in-out;
}

.closed{
	scale: 0;
}

.items{
	margin-top: 46px;
	width: 90%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 4px;
}

.item{
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	width: 100%;
	margin: 5px;
	padding: 5px;
	transition: 0.2s;
}

.item:hover{
	border-color: #333333;
}

.title{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.item-icon{
	font-size: 1.5rem;
}

.fa-book{
	color: #5ed9e9;
}

.fa-dumbbell{
	color: #61dd61;
}

.fa-wave-square{
	color: #fd6058;
}

.item-title{
	font-size: 1.3rem;
	font-weight: 600;
}